/*.stationInfo {
  width: 45vw;
}*/

.navbar-default {
  background-color: #5DE0DC
}

.navbar-default .navbar-brand{
  color: white
}

body {
  background-color: #f8f8f8
}

h1 {
  font-family: 'Arvo';
  text-decoration: underline;
  margin-bottom: 0px;
}

h2.lead {
  text-decoration: underline;
}

table {
  width: 100%;
  font-size: 20px;
}

thead, tbody {
  width: 100%;
}

th, td {
  width: 50%;
  height: 50%;
  text-align: center;
}

.nearbyElevators {
  text-align: center;
  padding-bottom: 40px;
}

.header {
  display: table;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(manhattan.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.button-row {
  margin-bottom: 10px;
}

h1 {
  font-size: 13em;
}

h4 {
  margin-top: 20px;
  color: black
}

link {
  text-decoration: none;
}

.input-group {
  width: 100%;
}

.input-box {
  width: 70%;
}

.input-group-btn{
  width:10%;
}

.front-page-input {
  width: 50vw;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}
.station-page-input {
  width: 100%;
}
#current-location-search {
  color: gray
}

.about-page {
  align-content: center;
}
