/*.stationInfo {
  width: 45vw;
}*/

.navbar-default {
  background-color: #5DE0DC
}

.navbar-default .navbar-brand{
  color: white
}

body {
  background-color: #f8f8f8
}

h1 {
  font-family: 'Arvo';
  text-decoration: underline;
  margin-bottom: 0px;
}

h2.lead {
  text-decoration: underline;
}

.moreInfo {
  float: right;
}


/*
.stationList {
  padding: 10px;
  width: 100%;
  display: inline-block;
}*/

table {
  width: 100%;
}

th, td {
  width: 50%;
  height: 50%;
  text-align: center;
}

.nearbyElevators {
  text-align: center;
  padding-bottom: 40px;
}

.header {
  display: table;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(manhattan.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.button-row {
  margin-bottom: 10px;
}

#current-location-search {
  padding: 5px;
}

.input-group {
  align-self: center;
  display: block;
}
